{{ partial "header.html" . }}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <!--<span>{{ .Date.Format "Jan 2 2006" }}</span>-->
          <h2 class="title is-2 is-spaced">{{ .Title }}</h2>
          <div class="article-body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
