<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="https://gitlab.com/blockforge/blockforge" title="GitLab"><i class="fa fa-gitlab"></i></a>
        &nbsp;
        <a href="https://www.reddit.com/r/blockforge" title="Reddit"><i class="fa fa-reddit"></i></a>
      </p>
    </div>
  </div>
</footer>

</body>

</html>
