{{ partial "header.html" . }}

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title is-1">Mining Made Easy</h1>
          <a href="{{ ref . "download.md" }}" class="button is-primary">Get Started</a>
          <a href="https://gitlab.com/blockforge/blockforge" class="button is-info">Source Code</a>
        </div>
        <div class="column">
          <img src="/images/2018/blockforge.jpg" width="500">
        </div>
      </div>

    </div>
  </div>
</section>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">

        <div class="column has-text-centered">
          <h2 class="title is-h2">Terminal and GUI</h2>
          <span class="is-size-2">
            <i class="fa fa-terminal"></i>
            <i class="fa fa-window-maximize"></i>
          </span>
        </div>

        <div class="column has-text-centered">
          <h2 class="title is-h2">Multiple Coins</h2>
          <span class="is-size-2">
            <i class="cc XMR" title="Monero"></i>
            <i class="cc AEON" title="Aeon"></i>
            <i class="cc BCN" title="Bytecoin"></i>
          </span>
        </div>

        <div class="column has-text-centered">
          <h2 class="title is-h2">Open source</h2>
          <span class="is-size-2">
            <a href="https://gitlab.com/blockforge/blockforge">
              <i class="fa fa-gitlab" title="View code on GitLab"></i>
            </a>
          </span>
        </div>
      </div>

    </div>
  </div>
</section>



{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "blog") }}

<section class="section">
  <div class="container">

    <h3 class="title is-3 has-text-centered">Latest News</h3>

    {{ range .Paginator.Pages }}
    <div class="columns is-centered">

      <div class="column is-half">
        <h3 class="title is-3">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
      </div>
    </div>
  </div>
  {{ end }}
  </div>
</section>

<section class="section">
  <div class="container">

  </div>
</section>


{{ partial "footer.html" . }}
